@if (show) {
  <div class="command" [class.disabled]="!enable" [attr.aria-disabled]="!enable ? 'true' : null">
    @if (command.routerLink) {
      <div class="routed-command">
        <ng-container *ngTemplateOutlet="commandDescriptor"></ng-container>
      </div>
    } @else {
      <ng-container *ngTemplateOutlet="commandDescriptor"></ng-container>
    }
    <ng-template #commandDescriptor>
      @if (command.icon) {
        <sh-icon [name]="command.icon" aria-hidden="true"></sh-icon>
      }
      <div translate>
        {{command?.name}}
      </div>
    </ng-template>
  </div>
}
