@use '../../../styles/scss/utils/variables' as *;
@use '../../../styles/scss/utils/mixin' as *;
body {
  overflow: hidden;
}
.caep-floating-commands {
  position: absolute;
  display: flex;
  top: 0;
  left: 50%;
  z-index: 11;
  text-align: center;

  @include caep-add-shadow-box('.floating-commands-state__dragging', 0 5px 15px rgba(0, 0, 0, 0.3));

  &.vertical {
    transform: rotate(90deg);
    transform-origin: 30px;
  }
  .floating-commands-content {
    display: flex;
    & > * {
      background-color: $caep-floating-commands-background-color;
    }
  }
  .caep-drag-handle {
    cursor: move;
    user-select: none;
    background-color: $caep-floating-commands-background-color;
    width: $caep-floating-commands-drag-handle-width;
    height: 60px;
    padding: 11px 0 14px 1px;
    text-align: center;
    border: 1px solid $caep-floating-commands-color;
    &::after,
    &::before {
      user-select: none;
      color: $caep-floating-commands-color;
      display: block;
      line-height: 0.5;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1em;
      font-weight: 100;
      content: '═ ═';
    }
    &::before {
      margin-bottom: 3px;
    }
  }
}
