$topbar-min-height: 40px;
$topbar-height: 5.55vh;

:host {
  // theming
  --caep-topbar-foreground: var(--topbar-foreground, #fefefe);
  --caep-topbar-background: var(--topbar-background, #2f3e4b);
  --caep-topbar-height: max(var(--topbar-min-height, #{$topbar-min-height}), var(--topbar-height, #{$topbar-height}));
}

:host {
  position: relative;
  height: var(--caep-topbar-height);
  > .topbar-container {
    width: 100%;
    position: absolute;
    inset: 0;
    height: var(--caep-topbar-height);
    background: var(--caep-topbar-background);
    > .topbar-items-container {
      &.is-checking {
        visibility: hidden;
      }
      width: 100%;
      height: var(--caep-topbar-height);
      display: flex;
      justify-content: space-between;
      align-items: center;
      > .left,
      > .center,
      > .right {
        display: flex;
      }
    }
  }
}
