$button-min-padding: 4px;
$button-padding: 0.55vh;

:host {
  // theming
  --caep-topbar-button-hover: var(--topbar-button-hover, #{rgba(0, 0, 0, 0.08)});
}

.topbar-button {
  height: var(--caep-topbar-height);
  width: var(--caep-topbar-height);
  padding: max(#{$button-min-padding}, #{$button-padding});
  outline: none;
  border: none;
  box-sizing: border-box;
  background: none;
  color: var(--caep-topbar-foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  &:not(:disabled) {
    &:hover {
      background: var(--caep-topbar-button-hover);
    }
    cursor: pointer;
  }
  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
  &:disabled {
    cursor: not-allowed;
  }
  .topbar-button__icon {
    font-size: calc(var(--caep-topbar-height) * 0.5);
  }
}
