<h2>light</h2>
<div class="light">
  <div class="theme-container row row-cols-2">
    <div class="primary">Primary</div>
    <div class="secondary">Secondary</div>
    <div class="neutral-1">Neutral 1</div>
    <div class="neutral-2">Neutral 2</div>
  </div>
  <div class="theme-container row row-cols-3">
    <div class="error">Error</div>
    <div class="warn">Warn</div>
    <div class="success">Success</div>
    <div class="error-container">Container 1</div>
    <div class="warn-container">Container 2</div>
    <div class="success-container">Container 3</div>
  </div>

  <app-colors-viewer class="primary"></app-colors-viewer>
  <app-colors-viewer class="secondary"></app-colors-viewer>
  <app-colors-viewer class="neutral-1"></app-colors-viewer>
  <app-colors-viewer class="neutral-2"></app-colors-viewer>
  <app-colors-viewer class="error"></app-colors-viewer>
  <app-colors-viewer class="warn"></app-colors-viewer>
  <app-colors-viewer class="success"></app-colors-viewer>
</div>

<h2>dark</h2>
<div class="dark">
  <div class="theme-container row row-cols-2">
    <div class="primary">Primary</div>
    <div class="secondary">Secondary</div>
    <div class="neutral-1">Neutral 1</div>
    <div class="neutral-2">Neutral 2</div>
  </div>
  <div class="theme-container row row-cols-3">
    <div class="error">Error</div>
    <div class="warn">Warn</div>
    <div class="success">Success</div>
    <div class="error-container">Container 1</div>
    <div class="warn-container">Container 2</div>
    <div class="success-container">Container 3</div>
  </div>

  <app-colors-viewer class="primary"></app-colors-viewer>
  <app-colors-viewer class="secondary"></app-colors-viewer>
  <app-colors-viewer class="neutral-1"></app-colors-viewer>
  <app-colors-viewer class="neutral-2"></app-colors-viewer>
  <app-colors-viewer class="error"></app-colors-viewer>
  <app-colors-viewer class="warn"></app-colors-viewer>
  <app-colors-viewer class="success"></app-colors-viewer>
</div>