<button *ngIf="show" #controlRef [attr.type]="internalOptions.type" [attr.tabindex]="internalOptions.tabindex"
  [id]="internalOptions.id" [disabled]="!enable" [class]="containerClass" [class.primary]="primary"
  [class.transparent]="transparent" [class.negative]="negative" [class.outline]="outline"
  [attr.autofocus]="internalOptions.autofocus || null" translate [ngStyle]="{ 'width':width, 'height': height }"
  (click)="onClick($event)">
  <sh-icon *ngIf="icon" [name]="icon"></sh-icon>
  <ng-content></ng-content>
</button>
