@import "../../styles/colors";
@import "../../styles/functions";


$icon-distance: v(icon-distance, 6px);
$icon-offset: v(icon-offset, 2px);

$button-border-radius: v(button-border-radius, 5px);
$button-font-size: v(button-font-size, 18px);
$button-recess: v(button-recess, 10px 18px);
$button-focus-shadow-size: v(button-focus-shadow-size, -5px);
$button-distance: v(button-distance, 2px);

@mixin button-style(
  $background,
  $hover-background,
  $active-background,
  $focus-shadow,
  $disabled-background,
  $color: $sh-white,
  $hover-color: $sh-white,
  $active-color: $sh-white,
  $disabled-color: $sh-white,
  $outline: false
) {
  background: $background;
  color: $color;

  @if ($outline==true) {
    border: 1px solid $color;
  }

  &:hover {
    background: $hover-background radial-gradient(circle, transparent 1%, $hover-background 1%) center/15000%;
    color: $hover-color;

    @if ($outline==true) {
      border-color: $hover-color;
    }
  }

  &:active {
    background: $active-background;
    color: $active-color;
    background-size: 100%;
    transition: background 0s;

    @if ($outline==true) {
      border-color: $active-color;
    }
  }

  &:focus:not(:hover):not(:active) {
    @if ($focus-shadow==transparent) {
      color: $hover-color;

      @if ($outline==true) {
        border-color: $hover-color;
      }
    } @else {
      box-shadow: inset $focus-shadow 0 $button-focus-shadow-size 0;
    }
  }

  &:disabled {
    background: $disabled-background;
    color: $disabled-color;

    @if ($outline==true) {
      border-color: $disabled-color;
    }
  }
}

button {
  display: inline-block;
  border-radius: $button-border-radius;
  box-shadow: none;
  border: none;
  padding: $button-recess;
  font-size: $button-font-size;
  font-family: RobotoLight;
  outline: none;
  margin: $button-distance;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  background-position: center !important;
  transition: background 0.8s;

  &:disabled {
    &,
    * {
      pointer-events: none;
      cursor: not-allowed;
    }

    sh-icon {
      opacity: 0.5;
    }
  }

  &.primary {
    &:not(.transparent) {
      @include button-style($sh-azure, $sh-stripe-blue, $sh-beautiful-blue, $sh-electric-blue, $sh-pale-cyan);
    }

    &.transparent {
      @include button-style(
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        $sh-azure,
        $sh-beautiful-blue,
        $sh-dark-blue,
        $sh-pale-cyan
      );
    }

    &.outline {
      @include button-style(
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        $sh-azure,
        $sh-beautiful-blue,
        $sh-dark-blue,
        $sh-pale-cyan,
        true
      );
      box-shadow: none !important;
    }
  }

  &:not(.primary) {
    &:not(.transparent) {
      @include button-style(
        $sh-granite,
        $sh-wind-gray,
        $sh-iron-gray,
        $sh-gray,
        $sh-granite,
        $sh-smoke-gray,
        $sh-sea-black,
        $sh-white,
        $sh-dark-silver
      );
    }

    &.transparent {
      @include button-style(
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        $sh-iron-gray,
        color-opacity($sh-black, 0.8),
        $sh-black,
        $sh-dark-silver
      );
    }

    &.outline {
      @include button-style(
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        $sh-iron-gray,
        color-opacity($sh-black, 0.8),
        $sh-black,
        $sh-dark-silver,
        true
      );
      box-shadow: none !important;
    }
  }

  &.negative {
    &,
    &.primary,
    &.transparent {
      @include button-style(
        transparent !important,
        transparent !important,
        transparent !important,
        transparent,
        transparent !important,
        color-opacity($sh-white, 0.7) !important,
        color-opacity($sh-white, 0.8) !important,
        $sh-white !important,
        color-opacity($sh-white, 0.5) !important
      );
      box-shadow: none !important;
    }
  }

  sh-icon {
    padding-right: $icon-distance;
    margin-left: calc(-1 * calc(#{$icon-distance} + #{$icon-offset}));
    vertical-align: middle;
  }
}
