@use "sass:math";
@use "sass:color";
@use "sass:map";

/// Mixin that calculates if text needs to be light or dark, depending on the background color passed.
/// Color brightness is determined by the following formula:
/// ((Red value X 299) + (Green value X 587) + (Blue value X 114)) / 1000
/// @link http://www.webmasterworld.com/r.cgi?f=88&d=9769&url=http://www.w3.org/TR/AERT#color-contrast
/// @param {Color} $color Color
/// @returns {Color} Light or dark color depending on the contrast to $color
@function text-contrast(
  $n,
  $lightForeground: #ffffff,
  $darkForeground: #000000
) {
  $color-brightness: round(
    (color.channel($n, 'red', $space: rgb) * 299) + (color.channel($n, 'green', $space: rgb) * 587) + (color.channel($n, 'blue', $space: rgb) * 114) * 0.001
  );
  $light-color: round(
    (color.channel(#ffffff, 'red', $space: rgb) * 299) + (color.channel(#ffffff, 'green', $space: rgb) * 587) + (color.channel(#ffffff, 'blue', $space: rgb) * 114) *
      0.001
  );

  @if abs($color-brightness) < ($light-color * 0.5) {
    @return $lightForeground;
  } @else {
    @return $darkForeground;
  }
}

@function getContrastColors($color, $lightForeground, $darkForeground) {
  @return text-contrast($color, $lightForeground, $darkForeground);
}

@function caep-palette($color, $lightForeground, $darkForeground) {
  $defaultForeground: getContrastColors(
    $color,
    $lightForeground,
    $darkForeground
  );
  $base-palette: (
    0: color.adjust($color, $lightness: -50%, $space: hsl),
    10: color.adjust($color, $lightness: -45%, $space: hsl),
    20: color.adjust($color, $lightness: -40%, $space: hsl),
    30: color.adjust($color, $lightness: -35%, $space: hsl),
    40: color.adjust($color, $lightness: -30%, $space: hsl),
    50: color.adjust($color, $lightness: -25%, $space: hsl),
    60: color.adjust($color, $lightness: -20%, $space: hsl),
    70: color.adjust($color, $lightness: -15%, $space: hsl),
    80: color.adjust($color, $lightness: -10%, $space: hsl),
    90: color.adjust($color, $lightness: -5%, $space: hsl),
    100: $color,
    light: color.adjust($color, $lightness: 21%, $space: hsl),
  );
  $result: $base-palette;
  // For each hue in the palette, add a "-contrast" color to the map.
  @each $hue, $stepColor in $base-palette {
    $result: map.merge(
      $result,
      (
        "#{$hue}-contrast":
          getContrastColors($stepColor, $lightForeground, $darkForeground),
      )
    );
  }
  // Populate contrast map
  $contrast: ();
  @each $hue, $old_color in $base-palette {
    @if ($hue != "contrast") {
      $contrast: map.merge(
        $contrast,
        (
          $hue: map.get($result, "#{$hue}-contrast"),
        )
      );
    }
  }
  $result: map.merge(
    $result,
    (
      default: $color,
      lighter: color.adjust($color, $lightness: 10%, $space: hsl),
      darker: color.adjust($color, $lightness: -10%, $space: hsl),
      text: getContrastColors(
        $color,
        $lightForeground,
        $darkForeground
      ),
      default-contrast: $defaultForeground,
      lighter-contrast:
        getContrastColors(
          color.adjust($color, $lightness: 10%, $space: hsl),
          $lightForeground,
          $darkForeground
        ),
      darker-contrast:
        getContrastColors(
          color.adjust($color, $lightness: -10%, $space: hsl),
          $lightForeground,
          $darkForeground
        ),
    )
  );
  @return $result;
}

@function v($var, $default: null) {
  @if ($default) {
    @return var(--#{$var}, #{$default});
  } @else {
    @return var(--#{$var});
  }
}


@function ternaryOperator(/* 0 || 1 */ $condition, /* numeric */ $true, /* numeric  */ $false) {
  @return calc((#{$true} * #{$condition}) + (#{$false} - (#{$false} * #{$condition})));
}