@if (model && show) {
  @if (visible) {
    <a
      class="caep-side-menu__entry"
      [title]="model.label | translate"
      [class.first-level]="!parent"
      [class.caep-side-menu--active]="isActive"
      [class.caep-side-menu--active-route]="isActiveRoute"
      [class.caep-side-menu--expandable]="isExpandable"
      [attr.target]="model.link?.target"
      [caepRouterLink]="model"
      [enable]="enable"
      (inward)="onInward()"
    >
      @if (isExpandable) {
        <div class="caep-side-menu__chevron-icon" [class.chevron--open]="isOpen"></div>
      }
      @if (!isExpandable) {
        <div class="caep-side-menu__active-icon" [class.item--active]="isActiveRoute"></div>
      }
      <span class="caep-side-menu__label"> {{ model.label | translate }} </span>
    </a>
  }
  @if (hasChildren && isOpen) {
    <div class="caep-side-menu__children">
      @for (child of model.children; track child.id) {
        <caep-side-menu-entry
          [parent]="model"
          [model]="child"
          [resource]="child?.resource"
          [enable]="child?.enable"
          [show]="child?.show"
          (inward)="onChildInward()"
        ></caep-side-menu-entry>
      }
    </div>
  }
}
