@import '../../styles/colors';
@import '../../styles/common';

$sidebar-search-font-size: 16px;
$sidebar-search-icon-distance: 25px;

:host {
  sh-icon {
    color: $sh-metallic-gray;
    top: 50%;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
  }

  ::ng-deep sh-combo {
    input {
      border: none !important;
      padding-right: 0 !important;
      color: $sh-metallic-gray !important;
      vertical-align: top;
      padding-left: $sidebar-search-icon-distance !important;
      font-size: $sidebar-search-font-size !important;

      &::placeholder {
        color: $sh-metallic-gray !important;
      }
    }

    .results {
      background: $sh-lush-black !important;

      &::-webkit-scrollbar {
        background: transparent;
      }

      li {
        border-bottom-color: $sh-light-gray !important;

        &.current-item {
          color: $sh-silver !important;
        }

        &.selected {
          color: $sh-white !important;
        }
      }
    }

    label[for],
    sh-icon {
      display: none;
    }
  }
}
