<div #controlRef class="toggle" *ngIf="formControl && show" [class.disabled]="!formControl.valid || !enable"
  [class.readonly]="internalOptions.isReadonly" [attr.tabindex]="internalOptions.tabindex"
  [attr.autofocus]="internalOptions.autofocus || null" (keydown)="onKey($event)" pointer (click)="toggle()">
  <input [formControl]="formControl" type="checkbox" untouchable [attr.id]="internalOptions.id">
  <label [attr.for]="internalOptions.id" untouchable></label>
</div>
<span *ngIf="internalOptions.label" (click)="toggle()" translate>{{internalOptions.label}}</span>
