@import '../../styles/colors';
@import '../../styles/common';

$checkbox-size: 19px;
$checkbox-label-font-size: 18px;
$checkbox-label-distance: $inline-control-label-distance;
$check-recess: 6px;
$check-width: 11px;
$check-height: 5px;
$checkbox-border-size: 2px;
$checkbox-text-distance: 6px;

.checkbox {
  position: relative;
  width: $checkbox-size;
  height: $checkbox-size;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: $checkbox-text-distance;
  display: inline-block;
  outline: none;

  label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    width: $checkbox-size;
    height: $checkbox-size;
    padding: 0;
    border-width: $checkbox-border-size;
    border-style: solid;
    border-color: $sh-light-gray;
    background-color: transparent;
    transition: .3s background-color, .3s border-color;
  }

  &+span {
    color: $sh-light-gray;
    cursor: pointer;
    font-size: $checkbox-label-font-size;
    margin-left: $checkbox-label-distance;
    user-select: none;
  }

  &,
  &+span {
    vertical-align: top;
  }

  input {
    display: none;
    pointer-events: none;

    &:checked+label {
      background-color: $sh-azure;
      margin-left: 0;
      border-color: $sh-azure;

      &:before {
        content: "";
        display: block;
        width: $check-width;
        height: $check-height;
        top: $check-recess;
        left: $check-recess - 1px;
        position: absolute;
        border: $checkbox-border-size solid $sh-white;
        border-top: none;
        border-right: none;
        background: transparent;
        transform: rotate(-45deg);
      }
    }
  }

  &.disabled {
    opacity: .4;
    pointer-events: none;
    cursor: not-allowed;

    input {
      &+label {
        background-color: $sh-sea-black;
        border-color: $sh-sea-black;
      }
    }

    &+span {
      color: $sh-light-gray;
      pointer-events: none;
      cursor: not-allowed;
    }
  }


  &:hover,
  &:focus,
  &:active {
    input:checked+label {
      background-color: $sh-azure;
      border-color: $sh-wood-gray;
    }

    input:not(:checked)+label {
      background-color: $sh-gray;
      border-color: $sh-sea-black;
    }
  }

  &.checked:not(.disabled)+span {
    color: $sh-sea-black;
  }
}
