@if (formControl && show) {
  <div class="checkbox" [class.disabled]="formControl.disabled || !enable"
    #controlRef [class.checked]="!!formControl.value" pointer (click)="toggle()"
    tabindex="-1" (keydown)="onKey($event)">
    <input [formControl]="formControl" type="checkbox" [attr.id]="internalOptions.id"
      [attr.tabindex]="internalOptions.tabindex" [attr.autofocus]="internalOptions.autofocus || null"
      (keydown)="onKey($event)"
      [attr.aria-labelledby]="internalOptions.label ? (internalOptions.id + '-label') : ariaLabelledBy"
      [attr.aria-label]="!internalOptions.label && !ariaLabelledBy ? ariaLabel : null"
      [attr.aria-describedby]="ariaDescribedBy"
      [attr.aria-readonly]="internalOptions.isReadonly ? true : null"
      [attr.readonly]="internalOptions.isReadonly ? true : null" [disabled]="formControl.disabled || !enable">
    <label [attr.for]="internalOptions.id" untouchable></label>
  </div>
}
@if (internalOptions.label && show) {
  <span [attr.id]="internalOptions.id + '-label'" translate (click)="toggle()"
    tabindex="-1" (keydown)="onKey($event)">{{internalOptions.label?.key ? (internalOptions.label | i18n) : (internalOptions.label | translate)}}</span>
}
