<div>
  <div class="toggler" (click)="isExpandedChange.emit(isExpanded = !isExpanded)">
    <sh-icon full-centered name="hamburger"></sh-icon>
  </div>
  <div class="logo-container" [class.expanded]="isExpanded">
    <div *ngIf="logo" class="logo" full-centered>
      <img src="assets/{{logo}}">
    </div>
  </div>
  <div id="sidebar" [class.expanded]="isExpanded">
    <ng-container *ngIf="commands">
      <sh-sidebar-item *ngFor="let command of commands" [model]="command" [resource]="command.resource"
        [isExpanded]="isExpanded" [areChildrenShown]="command.id === expandedCommandId"
        (toggleChildren)="toggle(command.id)"></sh-sidebar-item>
    </ng-container>
  </div>
</div>
