@import '../../styles/colors';
@import '../../styles/common';
@import '../../styles/mixins';

$toggler-height: $bars-height;
$logo-width: 130px;
$logo-height: 45px;
$toggler-size: 35px;

:host {


  &.expanded {
    @include scrollbar(7px, color-opacity($sh-sea-black, .3), color-opacity($sh-sea-black, .5), color-opacity($sh-sea-black, .7), $sh-sand-gray);
  }

  &:not(.expanded) {
    @include scrollbar(0, transparent, transparent, transparent, transparent);
  }

  &,
  * {
    outline: none;
    user-select: none;
  }

  .toggler {
    position: fixed;
    background-color: $sh-medium-black;
    cursor: pointer;
    left: 0;
    top: 0;
    height: $toggler-height;
    width: $sidebar-collapsed-width;
    z-index: 1;

    sh-icon {
      font-size: $toggler-size;
      color: $sh-smoke-gray;
    }
  }

  .logo-container {
    height: $toggler-height;
    position: fixed;
    top: 0;
    left: $sidebar-collapsed-width;
    background: $sh-midnight-gray;
    z-index: 999;
    transition: $bars-transition-speed width;
    overflow: hidden;

    &.expanded {
      width: $brand-width;
    }

    &:not(.expanded) {
      width: 0;
    }

    .logo {
      width: $logo-width;
      height: $logo-height;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  #sidebar {
    position: fixed;
    left: 0;
    top: $bars-height;
    bottom: 0;
    background-color: $sh-lush-black;
    transition: $bars-transition-speed width;
    z-index: 999;
    outline: none;
    overflow-y: auto;

    &.expanded {
      width: $sidebar-expanded-width;
    }

    &:not(.expanded) {
      width: $sidebar-collapsed-width;
    }

    &::ng-deep sh-sidebar-item {
      &:nth-of-type(odd)>.command>div {
        background-color: $sh-sea-black;

        &>.command-icon {
          background-color: $sh-lush-black;
        }
      }

      &:nth-of-type(even)>.command>div {
        background-color: $sh-submarine-gray;

        &>.command-icon {
          background-color: $sh-spade-black;
        }
      }

      .child {
        &:nth-of-type(odd)>sh-sidebar-item>.command>div {
          background-color: $sh-gray;

          &>.command-icon {
            background-color: $sh-cool-gray;
          }
        }

        &:nth-of-type(even)>sh-sidebar-item>.command>div {
          background-color: $sh-cool-gray;

          &>.command-icon {
            background-color: $sh-sand-gray;
          }
        }
      }
    }
  }
}
