<context-menu #contextMenu>
  <ng-container *ngFor="let command of commands">

    <ng-container *ngIf="!command.children?.length; else parentCommand">
      <ng-template contextMenuItem>
        <div class="context-menu-item">
          <sh-context-menu-item [command]="command" [resource]="command.resource" [enable]="command.enable" [show]="command.show"></sh-context-menu-item>
        </div>
      </ng-template>
    </ng-container>

    <ng-template #parentCommand>
      <ng-template contextMenuItem [subMenu]="subContextMenu.context">
        <div class="context-menu-item">
          <sh-context-menu-item [command]="command" [resource]="command.resource" [enable]="command.enable" [show]="command.show"></sh-context-menu-item>
        </div>
      </ng-template>
      <sh-context-menu #subContextMenu [commands]="command.children"></sh-context-menu>
    </ng-template>

  </ng-container>
</context-menu>
