<div class="caep-palette">
  <div class="caep-color" brightness="0"></div>
  <div class="caep-color" brightness="10"></div>
  <div class="caep-color" brightness="20"></div>
  <div class="caep-color" brightness="30"></div>
  <div class="caep-color" brightness="40"></div>
  <div class="caep-color" brightness="50"></div>
  <div class="caep-color" brightness="60"></div>
  <div class="caep-color" brightness="70"></div>
  <div class="caep-color" brightness="80"></div>
  <div class="caep-color" brightness="90"></div>
  <div class="caep-color" brightness="100"></div>
  <div class="caep-color" brightness="light"></div>
</div>