<div *ngIf="show" class="command" [class.expanded]="isExpanded" [class.disabled]="!enable"
  title="{{model.title | translate}}">
  <ng-template #commandTemplate>
    <div class="command-icon">
      <sh-icon full-centered [name]="model.icon"></sh-icon>
    </div>
    <div class="command-caption">{{model.title | translate}}</div>
  </ng-template>
  <div *ngIf="model.routerLink; else parentTemplate" [routerLink]="model.routerLink" routerLinkActive="active">
    <ng-container *ngTemplateOutlet="commandTemplate"></ng-container>
  </div>
  <ng-template #parentTemplate>
    <div routerLinkActive="active" [class.parent]="model.children?.length">
      <ng-container *ngTemplateOutlet="commandTemplate"></ng-container>
      <ng-container *ngIf="model.children?.length">
        <div class="children-overlay" (click)="toggleChildren.emit()">
        </div>
        <div hidden class="children" [class.expanded-children]="areChildrenShown">
          <div class="child" *ngFor="let child of model.children" [routerLink]="child.routerLink"
            routerLinkActive="active">
            <sh-sidebar-item [model]="child" [resource]="child.resource"></sh-sidebar-item>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>
</div>
