@import '../../styles/colors';
@import '../../styles/common';
@import '../../styles/mixins';
$command-caption-font-size: 15px;
$children-icon-recess: 15px;
$caption-recess: 10px;
$sidebar-active-item-width: 7px;

:host {

  &,
  * {
    outline: none;
    user-select: none;
  }

  .command {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
    min-height: $sidebar-item-height;
    margin: 0;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: $sh-light-gray;
    outline: none;

    &>.active {
      color: $sh-white;

      &,
      &>.command-icon {
        background-color: $sh-azure !important;
      }
    }

    .command-icon {
      position: relative;
      width: $sidebar-collapsed-width;
      height: $sidebar-collapsed-width;
      font-size: $sidebar-collapsed-width/2;
    }

    .command-caption {
      position: absolute;
      top: $sidebar-collapsed-width/2 - $caption-recess;
      left: $sidebar-collapsed-width + $caption-recess;
      font-size: $command-caption-font-size;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:not(.expanded) {
      .command-caption {
        opacity: 0;
        transition: .1s opacity;
        opacity: 0;
      }
    }

    &.expanded {
      .command-caption {
        opacity: 1;
        transition: 2.5s opacity;
      }
    }

    .parent {
      .children-overlay {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: $sidebar-item-height;

        sh-icon {
          position: absolute;
          pointer-events: none;
          right: $children-icon-recess;
        }
      }

      .children {
        position: relative;
        width: 100%;
        height: auto;

        &.expanded-children {
          display: block;
        }

        .child {
          position: relative;
          font-size: $command-caption-font-size;

          ::ng-deep sh-sidebar-item {
            .active {
              background-color: $sh-granite !important;
              color: $sh-smoke-gray !important;

              .command-icon {
                background-color: $sh-gray !important;
              }

              &:after {
                content: '';
                position: absolute;
                right: 0;
                width: $sidebar-active-item-width;
                height: $sidebar-item-height;
                background: $sh-sky;
                top: 0;
              }
            }
          }
        }
      }
    }
  }
}
