@use "sass:math";
@use "sass:map";
@use "sass:list";

@mixin caep-grid-system(
  $arg: (
    (media: 1280, columnsNumber: 12, gutter: 20px, matrix: 40px, name: "hd"),
    (
      media: 1600px,
      columnsNumber: 12,
      gutter: 25px,
      matrix: 50px,
      name: "hdmd"
    ),
    (media: 1920px, columnsNumber: 12, gutter: 30px, matrix: 60px, name: "fhd"),
    (media: 2560px, columnsNumber: 12, gutter: 40px, matrix: 80px, name: "2k"),
    (media: 3840px, columnsNumber: 12, gutter: 60px, matrix: 120px, name: "4k"),
  ),
  $maxColumns: 12
) {
  // #region Global
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
  }
  * {
    box-sizing: border-box;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .col {
    flex: 1 0 0%;
  }
  .row-cols-auto > *,
  .col-auto {
    flex: 0 0 auto;
    width: auto;
  }

  [class^="col-"] {
    float: left;
    height: 100%;
  }
  @include caep-columns-class($maxColumns);
  //#endregion
  @each $var in $arg {
    $media: map.get($var, "media");
    $columnsNumber: map.get($var, "columnsNumber");
    $media-name: map.get($var, "name");
    $gutter: map.get($var, "gutter");
    $matrix: map.get($var, "matrix");

    @if (list.index($arg, $var) == 1) {
      $media: 0;
    }

    @media (min-width: $media) {
      :root {
        --gutter: #{$gutter};
        --matrix: #{$matrix};
      }
      .grid-container {
        padding-top: $gutter * 0.5;
        padding-bottom: $gutter * 0.5;
      }
      @include caep-columns-class($columnsNumber, $media-name);
      .row {
        padding-right: $gutter * 0.5;
        padding-left: $gutter * 0.5;
        & > * {
          padding: $gutter * 0.5;
        }
      }
    }
  }
}

@function get-name($name) {
  @if $name {
    @return "-#{$name}";
  } @else {
    @return "";
  }
}
@mixin caep-columns-class($columnsNumber, $mediaName: null) {
  $name: get-name($mediaName);
  @for $colum from 1 to $columnsNumber + 1 {
    .row-cols#{$name}-#{$colum} > * {
      flex: 0 0 auto;
      width: #{(math.div(100%, $colum))};
    }
    @if $mediaName {
      .col#{$name} {
        flex: 1 0 0%;
      }
      .row-cols#{$name}-auto > *,
      .col#{$name}-auto {
        flex: 0 0 auto;
        width: auto;
      }
    }
    .col#{$name}-#{$colum} {
      flex: 0 0 auto;
      width: calc(#{(math.div(100%, $columnsNumber) * $colum)});
    }
  }
  @for $colum from 1 to $columnsNumber {
    .offset#{$name}-#{$colum} {
      margin-left: calc(#{(math.div(100%, $columnsNumber) * $colum)});
    }
  }
}
