@use "./utils/functions" as *;
@use "colors" as *;
@use "density" as *;
@use "./utils/mixin" as *;

@mixin input-colors() {
  --input-label-color-untouched-state: #{$neutral-1-100-contrast};
  --input-border-color-untouched-state: #{$neutral-2-40};
  --input-color-untouched-state: #{$neutral-1-100-contrast};
  --input-background-untouched-state: transparent;

  --input-border-color-active-state: #{$primary};
  --input-color-active-state: #{$neutral-1-100-contrast};
  --input-background-active-state: transparent;

  --input-label-color-readonly-state: #{$neutral-1-100-contrast};
  --input-border-color-readonly-state: #{$neutral-1-80};
  --input-color-readonly-state: #{$neutral-1-100-contrast};
  --input-background-readonly-state: transparent;

  --input-label-color-disabled-state: #{$neutral-1-20};
  --input-border-color-disabled-state: #{$neutral-1-80};
  --input-color-disabled-state: #{$neutral-1-20};
  --input-background-disabled-state: #{$neutral-1-100};

  --input-label-color-invalid-state: #{$error};
  --input-border-color-invalid-state: #{$error};
  --input-color-invalid-state: #{$neutral-1-100-contrast};
  --input-background-invalid-state: #{$error-light};

  --input-label-color: var(--input-label-color-untouched-state);
  --input-border-color: var(--input-border-color-untouched-state);
  --input-color: var(--input-color-untouched-state);
  --input-color-untouched-state: #{$neutral-1-100-contrast};
  --input-background: var(--input-background-untouched-state);

  &:not(
      .caep-input-component-readonly,
      .caep-input-component-disabled,
      .caep-input-component-invalid
    ) {
    .caep-input-container:focus-within,
    .caep-input-container:focus {
      --input-border-color: var(--input-border-color-active-state);
      --input-color: var(--input-color-active-state);
      --input-background: var(--input-background-active-state);
    }
  }

  &.caep-input-component-readonly {
    --input-label-color: var(--input-label-color-readonly-state);
    --input-border-color: var(--input-border-color-readonly-state);
    --input-color: var(--input-color-readonly-state);
    --input-background: var(--input-background-readonly-state);
  }
  &.caep-input-component-disabled {
    --input-label-color: var(--input-label-color-disabled-state);
    --input-border-color: var(--input-border-color-disabled-state);
    --input-color: var(--input-color-disabled-state);
    --input-background: var(--input-background-disabled-state);
  }
  &.caep-input-component-invalid.ng-touched {
    --input-label-color: var(--input-label-color-invalid-state);
    --input-border-color: var(--input-border-color-invalid-state);
    --input-color: var(--input-color-invalid-state);
    --input-background: var(--input-background-invalid-state);
  }
}

@mixin input() {
  .input-rounded {
    --input-border-radius: 8px;
  }
  .input-icons-before {
    --input-internal-flex-direction: row-reverse;
  }
  .input-label-inline {
    --input-flex-direction: row;
    --input-align-items: center;
    --input-container-gap: #{$space-sm};
  }

  $input-border-radius: v(input-border-radius, 0);

  .caep-input-component {
    @include input-colors();

    .caep-input-container {
      display: inline-flex;
      flex-direction: v(input-flex-direction, column);
      align-items: v(input-align-items, flex-start);
      gap: v(input-container-gap, $space-xxxxs);

      .caep-label {
        font-weight: v(input-label-font-weight, bold);
        font-size: v(input-label-font-size, 15px);

        color: v(input-label-color, black);
      }

      .caep-input-control-container {
        --input-transition-duration: 0.3s;
        --input-transition-timing-function: ease-in-out;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: v(input-internal-flex-direction, row);
        border-width: v(input-border-width, 1px);
        border-style: v(input-border-style, solid);
        border-radius: $input-border-radius;
        min-width: v(input-min-width, 205px);
        min-height: v(input-min-height, $space-md);
        padding: v(input-padding, 0 $space-xs);
        position: relative;

        background: v(input-background, transparent);
        border-color: v(input-border-color, black);

        .caep-input {
          border: none;
          outline: none;
          background-color: transparent;
          font-size: v(input-font-size, 17px);

          color: v(input-color, black);
        }

        .caep-input-icon {
          color: v(input-border-color, black);
        }

        @include caep-add-shadow-box(
          ":hover",
          0 0 0 2px v(input-border-color, black),
          v(input-transition-duration),
          v(input-transition-timing-function)
        ) {
          border-radius: calc(#{$input-border-radius} - 1px);
        }

        transition-duration: v(input-transition-duration);
        transition-property: border-color;
        transition-timing-function: v(input-transition-timing-function);
      }
    }

    &.caep-input-component-invalid {
      .caep-input-container {
        background: transparent;
        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          width: calc(100% - 2px);
          height: calc(100% - 2px);
          background-color: var(--input-background);
          border-radius: calc(#{$input-border-radius} - 1px);
        }
      }
    }
    &.caep-input-component-disabled {
      pointer-events: none;
    }
  }
}
