@import '../../styles/common';

:host {
  ::ng-deep #container {
    position: absolute;
    top: $bars-height;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;
    transition: .5s left;
    left: $sidebar-collapsed-width;
    padding: $container-recess;

    .container-fluid {
      position: absolute;
      top: $container-vertical-recess;
      bottom: $container-vertical-recess;
      left: $container-horizontal-recess;
      right: $container-horizontal-recess;
    }
  }

  sh-sidebar.expanded {

    &~sh-toolbar,
    &~sh-header,
    &~#container {
      left: $sidebar-expanded-width;
    }
  }
}
