@use '../../../styles/common' as *;

$container-right-recess: var(--container-right-recess, 0);
$container-bottom-recess: var(--container-bottom-recess, 0);

:host {
  ::ng-deep #container {
    position: absolute;
    top: $bars-height;
    bottom: $container-bottom-recess;
    right: $container-right-recess;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;
    transition: .5s left;
    left: $sidebar-collapsed-width;
    padding: $container-recess;

    .container-fluid {
      position: absolute;
      top: $container-vertical-recess;
      bottom: $container-vertical-recess;
      left: $container-horizontal-recess;
      right: $container-horizontal-recess;
    }
  }

  sh-sidebar.expanded {

    &~sh-toolbar,
    &~sh-header,
    &~#container {
      left: $sidebar-expanded-width;
    }
  }
}
