@if (show && formControl) {
  <div shDropdownContainer [class]="containerClass" [class.select-container]="true"
    (clickOutside)="isOpened = false" [style.minWidth]="width">
    <div #input [id]="internalOptions.id" [class]="inputClass" [class.input]="true"
      [class.ng-invalid]="formControl.invalid" [class.ng-touched]="formControl.touched"
      [class.ng-dirty]="formControl.dirty" [class.sh-populated]="!!formControl.value"
      [attr.tabindex]="internalOptions.tabindex" [attr.autofocus]="internalOptions.autofocus || null"
      role="combobox" aria-haspopup="listbox" [attr.aria-expanded]="isOpened"
      [attr.aria-controls]="id + '-listbox'"
      [attr.aria-labelledby]="placeholder ? (id + '-label') : ariaLabelledBy" [attr.aria-label]="ariaLabel"
      [attr.aria-describedby]="ariaDescribedBy"
      [attr.aria-disabled]="!enable ? true : null" [attr.aria-readonly]="internalOptions.isReadonly ? true : null"
      [attr.aria-invalid]="formControl.invalid ? true : null"
      [attr.aria-activedescendant]="isOpened && activeResultIndex >= 0 ? (id + '-opt-' + activeResultIndex) : null"
      (keydown)="onComboboxKeydown($event)"
      (click)="enable && !internalOptions.isReadonly && (isOpened = !isOpened)" [class.disabled]="!enable"
      [class.readonly]="internalOptions.isReadonly" [style.height]="height" [class.with-icon]="true"
      (focusout)="!formControl.touched && formControl.markAsTouched()"
      [class.floating-placeholder]="placeholder && (formControl.value === undefined || formControl.value === null || formControl.value === '')"
      [class.opened]="isOpened">
      @if (formControl.value !== undefined) {
        <div class="text-input">
          @if (!legacyMode) {
            {{selectedLabel | translate}}
          } @else {
            {{getLabel(formControl.value) | translate}}
          }
        </div>
      }
    </div>
    @if (placeholder) {
      <!-- names the div-based combobox via aria-labelledby (reverse association); `for` cannot target a non-labelable element -->
      <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
      <label class="no-float-on-empty" [id]="id + '-label'">{{placeholder?.key ? (placeholder
      | i18n) : (placeholder | translate)}}</label>
    }
    <sh-icon vertical-centered pointer aria-hidden="true" name="{{ isOpened ? internalOptions.caretUpIcon : internalOptions.caretDownIcon }}"
      (click)="enable && !internalOptions.isReadonly && (isOpened = !isOpened)">
    </sh-icon>
    @if (isOpened) {
      <div shDropdown #dropdown class="results" [style.width]="dropdownWidth"
        [style.maxHeight]="internalOptions.dropdownHeight">
        <ul #results role="listbox" [id]="id + '-listbox'"
          [attr.aria-labelledby]="placeholder ? (id + '-label') : ariaLabelledBy" [attr.aria-label]="ariaLabel">
          @for (value of values; track value.id; let i = $index) {
            <!-- APG combobox: options are not individually focusable; keyboard is handled on the combobox via aria-activedescendant -->
            <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
            <li class="result" role="option" [id]="id + '-opt-' + i"
              [attr.aria-selected]="value.ref === formControl.value"
              [class.current-item]="activeResultIndex === i"
              [class.selected]="value.ref === formControl.value" (click)="onSelectValue(value.ref)">
              <span [id]="value.id" translate>{{value.label}}</span>
            </li>
          }
          <ng-content select="[footer]"></ng-content>
        </ul>
      </div>
    }
  </div>
}
