@if (show && formControl) {
  <div [class]="containerClass" relative>
    <input #controlRef [attr.autofocus]="internalOptions.autofocus || null" [attr.type]="internalOptions.type"
      [id]="internalOptions.id" [formControl]="formControl" [class]="inputClass"
      [attr.aria-invalid]="formControl.invalid && formControl.touched ? true : null"
      [attr.aria-describedby]="formControl.invalid && formControl.touched ? internalOptions.id + '-error' : null"
      placeholder="{{placeholder?.key ? (placeholder | i18n) : (placeholder | translate)}}" autocomplete="off"
      [attr.tabindex]="internalOptions.tabindex"  [style.minWidth]="width" [style.maxWidth]="width" [style.height]="height"
      [attr.maxlength]="internalOptions.maxLength || null" [class.with-icon]="!!icon"
      [attr.readonly]="internalOptions.isReadonly ? true : null"
      [class.floating-placeholder]="placeholder && !formControl?.value" [class.sh-populated]="!!formControl.value">
    @if (placeholder) {
      <label [attr.for]="internalOptions.id">{{placeholder?.key ? (placeholder | i18n) : (placeholder | translate)}}</label>
    }
    @if (icon) {
      <sh-icon vertical-centered [name]="icon"></sh-icon>
    }
  </div>
}
