<span [attr.tabindex]="internalOptions.tabindex" routerLink="/">HOME</span>
<ng-container *ngIf="activity?.CurrentPayload?.stack">
  <ng-container *ngFor="let frame of activity.CurrentPayload.stack">
    <ng-container *ngIf="!frame.isReturnPoint">
      <div class="divider">/</div>
      <span [attr.tabindex]="internalOptions.tabindex" [routerLink]="frame | breadcrumb" (click)="actualize(frame)">
        {{frame.label || (hasFallback ? frame.action[0] : '') | translate}}
      </span>
    </ng-container>
  </ng-container>
</ng-container>
