<div *ngIf="model?.length" class="tabs" [class.left-aligned]="isLeftAligned">
  <ng-container *ngFor="let tab of model">
    <div *ngIf="!tab.isHidden" class="tab" [attr.id]="tab.id" [class.current]="tab.isCurrent" [class.disabled]="tab.isDisabled"
      (click)="select(tab)" (keyup.enter)="!tab.isDisabled && select(tab)" tabindex="0">
      <span class="tab-title">{{tab.title | translate}}</span>
    </div>
  </ng-container>
</div>
<div *ngIf="template && current" class="tab-content" [class.absolute-content]="hasAbsoluteContent">
  <ng-container *ngTemplateOutlet="template; context: templateContext"></ng-container>
</div>
