@import '../../styles/colors';

$tab-height: 42px;
$tab-vertical-recess: 6px;
$tab-horizontal-recess: 12px;
$tab-recess: $tab-vertical-recess $tab-horizontal-recess;
$tabs-distance: 40px;
$tab-current-border-size: 5px;
$tab-content-recess: 20px;
$tabs-alignment-left-top-recess: 5px;
$tabs-alignment-left-left-recess: 10px;
$tab-min-width: 300px;
$tab-font-size:20px;

.tabs {
  border-bottom: $tab-current-border-size solid $sh-metallic-gray;
  text-align: center;

  &.left-aligned {
    text-align: left;
    padding-top: $tabs-alignment-left-top-recess;
    display: inline-block;

    .tab {
      min-width: $tab-min-width;
    }
  }

  .tab {
    display: inline-block;
    height: $tab-height - $tab-current-border-size;
    position: relative;
    line-height: $tab-height - $tab-current-border-size;
    border-bottom: $tab-current-border-size solid transparent;
    transition: .4s ease border;
    cursor: pointer;
    margin-bottom: - $tab-current-border-size;
    font-size: $tab-font-size;

    &.current {
      border-bottom-color: $sh-azure;
      color: $sh-azure;
      font-weight: bold;
    }

    &.disabled {
      opacity: .5;
      pointer-events: none;
      cursor: not-allowed;
    }

    .tab-title {
      text-align: center;
      padding: $tab-recess;
    }

    &:hover {
      .tab-title {
        text-decoration: underline;
      }
    }
  }
}

.tab-content {
  width: 100%;
  height: 100%;
  padding: $tab-content-recess;

  &.absolute-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: $tab-height + $tab-vertical-recess;
    overflow: auto;
    width: auto;
    height: auto;
  }
}
