@import '../../styles/colors';

$header-recess: 16px;
$header-border-size: 1px;
$button-height: 50px;
$header-recess: 20px;
$body-recess: $header-recess*2;
$section-radius: 5px;
$section-distance: 40px;

:host {
  position: relative;
  margin-bottom: $section-distance;
  background: $sh-white;
  box-shadow: $sh-gray 0 0 10px 0;
  padding: $header-recess;
  border-radius: $section-radius;
  min-height: $header-recess;

  &:not([inline]) {
    display: block;
  }

  .section-header {
    color: $sh-iron-gray;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $body-recess+$header-recess;
    z-index: 2;
    cursor: pointer;
    user-select: none;

    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: $header-recess;
    }
  }

  .section-body {
    padding-top: $body-recess;
    position: relative;
    opacity: 1;
    max-height: 10000px;
    transition: max-height .3s, padding .3s, opacity .3s;

    &.collapsed {
      max-height: 0;
      padding: 0;
      opacity: 0;
      pointer-events: none;
    }

    &.content-disabled {
      opacity: .5;
      pointer-events: none;
    }

    ::ng-deep [shdropdown] {
      position: absolute !important;
    }
  }

  .locked {
    &.section-header {
      display: none;

      &+.section-body {
        padding-top: 0;
      }
    }
  }
}
