// Whites scale
$sh-white: white;
$sh-traffic-white:#F8F8F8;
$sh-mist: #F6F6F6;
$sh-smoke-white: #F4F4F4;
$sh-diamond-white: #EFEFEF;
$sh-ghost-white: #EDEDED;
$sh-midnight-white: #E8E8E8;
$sh-granite: #DDDDDC;
$sh-light-aluminium: #DADADA;
$sh-silver: #C8C8C8;
$sh-grape-cream: #BDBBBD;

// Grays scale
$sh-gray: #D2D1D1;
$sh-cool-gray: #CACACA;
$sh-wind-gray: #C6C6C5;
$sh-sand-gray: #BFBFBE;
$sh-wood-gray:#BABABA;
$sh-dark-silver: #AFAFAE;
$sh-quick-silver: #A6A6A6;
$sh-metallic-gray: #A3A3A3;
$sh-light-gray: #8C8B8B;
$sh-matrix-gray: #7A7A7A;
$sh-iron-gray: #757474;
$sh-artic-seal: #6D6D6F;
$sh-lead-gray: #666666;
$sh-smoke-gray: #5D5C5C;
$sh-submarine-gray: #515150;
$sh-antracite: #575756;
$sh-blast-gray: #3C3C3B;
$sh-graphite: #2E2D2C;
$sh-dark-gray: #292928;
$sh-overlay: rgba(65, 81, 103, .6);

// Blacks scale
$sh-sea-black: #464545;
$sh-spade-black:#414040;
$sh-pitch-black: #4A4A49;
$sh-lush-black: #3A3939;
$sh-midnight-gray: #2E2E2D;
$sh-medium-black: #222221;
$sh-chinese-black: #161615;
$sh-black-mat: #040405;
$sh-black: #000100;

// Blues scale
$sh-mistic-violet: #8686A1;
$sh-clean-glass: #D4EDFC;
$sh-pale-blue: #83D0F5;
$sh-pale-cyan: #8CD2F7;
$sh-sky: #6AC7F4;
$sh-spiro-blue: #40BBF0;
$sh-spring-sky: #36A9E1;
$sh-azure: #129BDB;
$sh-cyan: #009DDD;
$sh-stripe-blue: #0089D4;
$sh-beautiful-blue: #0070BF;
$sh-egyptian-blue: #005FAC;
$sh-electric-blue: #005FAB;
$sh-dark-blue: #004F9F;
$sh-canyon-blue: #003B8A;
$sh-purple-grape: #312783;
$sh-blue: #2979ff;
$sh-aquarell: #2929CC;
$sh-ink-blue: #112347;
$sh-ocean-blue: #111E72;

// Reds scale
$sh-pink: #F7D3E7;
$sh-red-passion: #E6332A;
$sh-red-orange: #E4421A;
$sh-magenta: #DB0566;
$sh-brite-red: #DB0316;
$sh-porcelain-red: #DC051C;
$sh-red: #DD1A1E;
$sh-tall-poppy: #C1282E;
$sh-flash-red: #B21321;

// Yellows scale
$sh-pearl-yellow: #FFFAD2;
$sh-creme-yellow: #FFF265;
$sh-yellow: #FFED00;
$sh-pastel-yellow: #F2E61A;
$sh-mustard: #ECD37D;
$sh-solar-yellow: #DEDC00;
$sh-selective-yellow: #FBBA00;
$sh-light-orange: #FB9D28;
$sh-mandarin: #FFA900;

// Greens scale
$sh-chlorophyll: #C7CE31;
$sh-natural-green: #89B32F;
$sh-bud-green: #75B94E;
$sh-chateau-green: #47AE4C;
$sh-acres-green: #4BA038;
$sh-green: #3FA535;
$sh-medical-green: #20A392;
$sh-classic-green: #195629;
$sh-grass-green: #006638;

@function color-opacity($color, $opacity) {
  @return rgba($color, $opacity);
}
