@use "colors" as *;

$header-height: var(--header-height, 50px);
$toolbar-height: var(--toolbar-height, 50px);
$bars-height: calc(#{$header-height} + #{$toolbar-height});
$bar-recess: var(--bar-recess, 20px);
$bars-transition-speed: var(--bars-transition-speed, .3s);
$bars-width-breakpoint: 600px;
$brand-width: var(--brand-width, 170px);
$sidebar-collapsed-width: var(--sidebar-collapsed-width, 50px);
$sidebar-expanded-width: var(--sidebar-expanded-width, calc(#{$brand-width} + #{$sidebar-collapsed-width}));
$sidebar-item-height: var(--sidebar-item-height, 50px);
$panel-width: 350px;
$toolbar-command-base-distance: 15px;
$container-vertical-recess: 20px;
$container-horizontal-recess: 30px;
$container-recess: var(--container-recess, $container-vertical-recess $container-horizontal-recess);
$scrollbar-size: var(--scrollbar-size, 10px);
$scrollbar-track-color: var(--scrollbar-track-color, $sh-midnight-white);
$scrollbar-thumb-color: var(--scrollbar-thumb-color, color-opacity($sh-azure, .5));
$scrollbar-thumb-hover-color: var(--scrollbar-thumb-hover-color, color-opacity($sh-azure, .7));
$scrollbar-thumb-active-color: var(--scrollbar-thumb-active-color, var(--sh-first));
$component-group-base-distance: var(--component-group-base-distance, 10px);
$inline-control-label-distance: var(--inline-control-label-distance, 10px);