@use 'node_modules/@perfectmemory/ngx-contextmenu/src/assets/stylesheets/base.scss';
@use 'colors' as *;

$menu-item-font-size: var(--context-menu-item-font-size, 15px);
$menu-item-font-family: var(--context-menu-item-font-family, RobotoLight);
$menu-item-background: var(--context-menu-item-background, transparent);
$menu-item-color: var(--context-menu-item-color, color-opacity($sh-white, .6));
$menu-item-hover-color: var(--context-menu-item-hover-color, $sh-white);
$menu-item-disabled-color: var(--context-menu-item-disabled-color, color-opacity($sh-white, .4));
$menu-item-label-recess: var(--context-menu-item-label-recess, 11px 0);
$menu-item-icon-distance: var(--context-menu-item-icon-distance, 21px);
$parent-menu-item-icon: var(--context-menu-parent-menu-item-icon, '▶');
$parent-menu-item-icon-distance: var(--context-menu-parent-menu-item-icon-distance, 35px);
$parent-menu-item-icon-right-recess: var(--context-menu-parent-menu-item-icon-right-recess, 12px);
$menu-item-recess: var(--context-menu-item-recess, 0 $parent-menu-item-icon-right-recess);
$menu-recess: var(--context-menu-recess, 0);
$menu-border-radius: var(--context-menu-border-radius, 5px);
$menu-background: var(--context-menu-background, color-opacity($sh-chinese-black, .9));
$menu-border: var(--context-menu-border, 2px solid $sh-wood-gray);
$menu-separator-size: var(--context-menu-separator-size, 1px);
$menu-separator-recess: var(--context-menu-separator-recess, 0);
$menu-separator-width: var(--context-menu-separator-width, 100%);
$menu-separator-style: var(--context-menu-separator-style, solid);
$menu-separator-color: var(--context-menu-separator-color, $sh-wood-gray);

:root {
  --ngx-contextmenu-background-color: #{$menu-background};
  --ngx-contextmenu-border-radius: #{$menu-border-radius};
  --ngx-contextmenu-border: #{$menu-border};
  --ngx-contextmenu-box-shadow: none;
  --ngx-contextmenu-padding: #{$menu-recess};
  --ngx-contextmenu-margin: 0;
  --ngx-contextmenu-text-color: #{$menu-item-color};
  --ngx-contextmenu-font-family: #{$menu-item-font-family};
  --ngx-contextmenu-font-size: #{$menu-item-font-size};
  --ngx-contextmenu-item-padding: #{$menu-item-recess};
  --ngx-contextmenu-item-background-hover-color: transparent;
  --ngx-contextmenu-item-text-hover-color: #{$menu-item-hover-color};
  --ngx-contextmenu-item-arrow-right: #{$parent-menu-item-icon};
}

.ngx-contextmenu {

  &:focus-visible {
    outline: revert;
  }

  .ngx-context-menu-item {

    &.ngx-contextmenu--parent-menu {

      &:after {
        content: $parent-menu-item-icon;
        position: absolute;
        right: $parent-menu-item-icon-right-recess;
        top: 50%;
        transform: translateY(-50%);
      }
  
      &>.context-menu-item>sh-context-menu-item>.command {
        &>div {
          margin-right: $parent-menu-item-icon-distance;
        }
      }
  
    }

    &[role='separator'] {
      border-width: 0 0 $menu-separator-size 0;
      border-bottom: $menu-separator-size $menu-separator-style $menu-separator-color;
      margin: $menu-separator-recess;
      width: $menu-separator-width;
    }

  }

}

button[role='menuitem'] {

  &.ngx-context-menu-item {

    position: relative;
    background: $menu-item-background;

    &>.context-menu-item {
      flex-grow: 1;
      text-align: start;
    }

    .command {
      padding: $menu-item-label-recess;
      cursor: pointer;
      position: relative;

      &.disabled {
        cursor: default;

        &,
        &:hover,
        &.active {
          color: $menu-item-disabled-color;
        }

      }

      sh-icon {

        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        &+div {
          padding-left: $menu-item-icon-distance;
          vertical-align: top;
          display: inline-block;
        }
        
      }
    }
  }
}
