@use 'ngx-toastr/toastr';
@use './colors' as *;

$toast-recess: var(--toast-recess, 20px);
$toast-width: var(--toast-width, 360px);
$toast-avatar-size: var(--toast-avatar-size, 50px);
$toast-avatar-border-radius: var(--toast-avatar-border-radius, 50%);
$toast-avatar-font-weight: var(--toast-avatar-font-weight, bold);
$toast-avatar-color: var(--toast-avatar-color, $sh-white);
$toast-avatar-vertical-recess: var(--toast-avatar-vertical-recess, $toast-recess);
$toast-avatar-horizontal-recess: var(--toast-avatar-horizontal-recess, $toast-recess);
$toast-title-bottom-distance: var(--toast-title-bottom-distance, 2px);
$toast-message-bottom-distance: var(--toast-message-bottom-distance, 10px);
$toast-close-button-recess: var(--toast-close-button-recess, 2px);
$toast-opacity: var(--toast-opacity, .8);
$toast-hover-opacity: var(--toast-hover-opacity, 1);
$toast-title-font-size: var(--toast-title-font-size, 15px);
$toast-title-font-weight: var(--toast-title-font-weight, bold);
$toast-title-color: var(--toast-title-color, $sh-white);
$toast-message-color: var(--toast-message-color, color-opacity($sh-white, .6));
$toast-message-font-size: var(--toast-message-font-size, calc(#{$toast-title-font-size} - 1px));
$toast-attribution-font-size: var(--toast-attribution-font-size, calc(#{$toast-title-font-size} - 3px));
$toast-attribution-color: var(--toast-attribution-color, $toast-message-color);
$toast-border-radius: var(--toast-border-radius, 0);
$toast-border-top-left-radius: var(--toast-border-top-left-radius, 10px);
$toast-background-color: var(--toast-background-color, $sh-chinese-black);
$toast-box-shadow: var(--toast-box-shadow, none);
$toast-font-family: var(--toast-font-family, RobotoLight);
$toast-success-background-color: var(--toast-success-background-color, $sh-azure);
$toast-error-background-color: var(--toast-error-background-color, $sh-red);
$toast-info-background-color: var(--toast-info-background-color, $sh-white);
$toast-info-color: var(--toast-info-color, $sh-sea-black);
$toast-close-button-color: var(--toast-close-button-color, $sh-white);
$toast-close-button-font-weight: var(--toast-close-button-font-weight, 100);

@mixin toast-content-avatar {
  padding-left: calc(#{$toast-avatar-size} + (#{$toast-recess}*0.5));
}


.ngx-toastr {
  border-radius: $toast-border-radius !important;
  border-top-left-radius: $toast-border-top-left-radius !important;
  background-color: $toast-background-color;
  padding: $toast-recess !important;
  width: $toast-width !important;
  opacity: $toast-opacity !important;
  box-shadow: $toast-box-shadow !important;

  &,
  * {
    font-family: $toast-font-family;
  }

  &:hover {
    box-shadow: $toast-box-shadow !important;
    opacity: $toast-hover-opacity !important;
  }

  &.toast-success {
    background-color: $toast-success-background-color !important;
    background-image: none;
  }

  &.toast-error {
    background-color: $toast-error-background-color !important;
    background-image: none;
  }

  &.toast-info {
    background-color: $toast-info-background-color !important;
    background-image: none;

    * {
      color: $toast-info-color !important;
    }
  }

  &.toast-warning {
    background-image: none;

    & > .toast-title {
      @include toast-content-avatar;
    }

    & > .toast-message {
      @include toast-content-avatar;
    }
  }
}

.toast-title {
  font-size: $toast-title-font-size;
  font-weight: $toast-title-font-weight;
  color: $toast-title-color;
  margin-bottom: $toast-title-bottom-distance;
}

.toast-body-message {
  font-size: $toast-message-font-size;
  color: $toast-message-color;
  margin-bottom: $toast-message-bottom-distance;
}

.toast-attribution {
  font-size: $toast-attribution-font-size;
  color: $toast-attribution-color;
}

.toast-avatar {
  width: $toast-avatar-size;
  height: $toast-avatar-size;
  border-radius: $toast-avatar-border-radius;
  top: $toast-avatar-vertical-recess;
  left: $toast-avatar-horizontal-recess;
  position: absolute;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-weight: $toast-avatar-font-weight;
    color: $toast-avatar-color;
  }
}

.toast-close-button {
  color: $toast-close-button-color !important;
  opacity: $toast-opacity !important;
  top: calc(-1 * (#{$toast-close-button-recess} * 8));
  right: calc(-1 * #{$toast-close-button-recess});
  font-weight: $toast-close-button-font-weight;
}
