@import '../../styles/colors';
@import '../../styles/common';

$back-button-size: 20px;
$back-button-left-recess: 8px;

@media (max-width: $bars-width-breakpoint) {
  sh-breadcrumb {
    display: none;
  }
}

:host {
  position: fixed;
  top: $header-height;
  left: $sidebar-collapsed-width;
  right: 0;
  height: $toolbar-height;
  background: $sh-azure;
  transition: $bars-transition-speed left;
  z-index: 998;

  .leeway {
    float: left;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: $bar-recess;

    ::ng-deep.back-button {

      button {
        padding-left: $back-button-left-recess;
      }

      i:before {
        font-size: $back-button-size;
        vertical-align: text-top;
      }
    }
  }

  .content {
    float: right;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: $bar-recess;

    ::ng-deep.lang-control {

      sh-icon,
      .input {
        color: $sh-white !important;
      }

      .input {
        border: none;
      }

      .results {
        background: $sh-azure !important;

        .result {
          color: color-opacity($sh-white, .5) !important;

          &.current-item {
            color: color-opacity($sh-white, .7) !important;
          }

          &.selected {
            color: $sh-white !important;
          }
        }
      }
    }
  }
}
