<div class="leeway">
  <sh-button *ngIf="showBackButton" class="back-button" icon="back" title="{{'back' | translate}}" [negative]="true"
    [enable]="activity?.CurrentPayload?.stack.length > 1" (clicked)="return.emit()">
  </sh-button>
  <sh-breadcrumb *ngIf="showBreadcrumb" [activity]="activity"></sh-breadcrumb>
</div>
<div class="content">
  <ng-content></ng-content>
  <sh-select *ngIf="showLangControl && currentLang" class="lang-control" title="{{'change-language' | translate}}"
    [model]="this" prop="currentLang" (valueChanges)="onLangChanges($event)"
    [options]="{values: langs, valuesPipe: upperCasePipe, width: 25}">
  </sh-select>
</div>
