<div *ngIf="isReady && show && model" component="">
  <sh-label [model]="model" [prop]="prop" [options]="internalOptions" [enable]="enable" [show]="show"></sh-label>
  <sh-template [model]="model" [prop]="prop" [options]="internalOptions" [helpId]="helpId" [enable]="enable" [show]="show"
    (valueChanges)="valueChanges.emit($event)"></sh-template>
  <sh-validation-message *ngIf="!isCaptionControl" [model]="model" [prop]="prop" [options]="internalOptions" [enable]="enable" [show]="show">
  </sh-validation-message>
</div>
