<sh-form *ngIf="isReady" [model]="model">
  <div class="card" title="{{title | translate}}" [style.width]="width" [style.height]="height"
    [id]="internalOptions.id">
    <div class="card-toolbar">
      <div class="title" translate>{{title}}</div>
      <ng-content select="[toolbar]"></ng-content>
      <div class="commands">
        <ng-content select="[command]"></ng-content>
        <ng-container *ngFor="let command of commands">
          <sh-icon *ngIf="command.isShown" pointer name="{{command.icon}}" [class.disabled]="!command.isEnabled"
            (click)="command.isEnabled && command.handler(command)" title="{{command.name | translate}}">
          </sh-icon>
        </ng-container>
        <sh-commands-bar [family]="commandsFamily">
          <ng-template #commandsTemplate let-command="$implicit">
            <sh-icon *ngIf="command.visible !== false" pointer name="{{command.iconClassName}}"
              [class.disabled]="command.enabled === false"
              (click)="command.enabled !== false && command.handler(command)"
              title="{{(command.caption || command.label) | translate}}">
            </sh-icon>
          </ng-template>
        </sh-commands-bar>
      </div>
    </div>
    <div class="card-body" title="" [class.indented]="hasIndentedContent" [attr.scrollable]="isScrollable || null">
      <ng-content></ng-content>
    </div>
    <div class="card-footer">
      <sh-button *ngIf="hasCancelButton" (clicked)="cancel.emit()">{{cancelText}}</sh-button>
      <ng-content select="[footer]"></ng-content>
      <sh-button *ngIf="hasConfirmButton" [primary]="true" [enable]="isValid" (clicked)="confirm.emit()">
        {{confirmText}}</sh-button>
    </div>
  </div>
</sh-form>
