@import '../../styles/colors';

$card-toolbar-height: 60px;
$card-shadow: $sh-gray 0 0 10px 0px;
$card-toolbar-vertical-recess: 20px;
$card-toolbar-recess: 17px $card-toolbar-vertical-recess;
$card-body-recess: 40px;
$card-tabs-vertical-recess: 12px;
$card-border-radius: 10px;
$card-title-font-size: 20px;
$card-toolbar-command-size: 15px;
$card-toolbar-commands-distance: 20px;
$card-right-recess: $card-toolbar-command-size * 2;
$card-toolbar-tab-font-size: 15px;
$card-toolbar-tab-border-size: 3px;

:host {
  .card {
    background-color: $sh-white;
    border: 1px solid $sh-white;
    border-bottom-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    box-shadow: $card-shadow;
    overflow: hidden;

    .card-toolbar {
      height: $card-toolbar-height;
      display: inline-flex;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid $sh-granite;
      background: $sh-smoke-white;


      .title {
        font-size: $card-title-font-size;
        color: $sh-iron-gray;
        padding: $card-toolbar-recess;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .commands {
        margin: $card-toolbar-recess;
        flex-grow: 1;
        flex-shrink: 0;
        text-align: right;
        margin-right: $card-right-recess;

        &>* {
          width: $card-toolbar-command-size;
          height: $card-toolbar-command-size;
          vertical-align: sub;

          &:not(:last-of-type) {
            padding-right: $card-toolbar-commands-distance;
          }
        }

        sh-commands-bar>* {

          &:first-of-type {
            padding-left: $card-toolbar-commands-distance;
          }

          &:not(:last-of-type) {
            padding-right: $card-toolbar-commands-distance;
          }
        }
      }

      ::ng-deep sh-tabs {
        flex-shrink: 0;
        flex-grow: 1;
        margin: $card-tabs-vertical-recess 0;

        .tabs {
          border-bottom: none;

          .tab {
            font-size: $card-toolbar-tab-font-size;
            border-bottom-width: $card-toolbar-tab-border-size;
          }
        }
      }
    }

    .card-body {
      position: absolute;
      top: $card-toolbar-height;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;

      &.indented {
        padding: $card-body-recess;
      }

      ::ng-deep [shdropdown],
      ::ng-deep .ngxmdp {
        position: absolute !important;
      }
    }

    .card-footer {
      bottom: $card-toolbar-vertical-recess;
      right: $card-right-recess;
      opacity: .1;
      position: absolute;
      transition: .5s opacity;

      &:hover {
        opacity: 1;
      }
    }
  }
}
