@import "../../styles/input";
$textarea-input-label-offset: v(textarea-input-label-offset, 5px);
div {
  display: inline-block;
  margin-top: $input-top-distance;

  textarea {
    @include input($textarea-input-label-offset);
    border-top: $input-border;
    margin-top: calc(#{$input-recess} / 2);
  }
}
