<button aria-label="collapser" class="header" (click)="onToggle()">
  <img class="logo" alt="logo" [src]="collapsed ? logoCollapsed : logo" />
  <div class="collapser">
    <img alt="collapse" [src]="collapsed ? expandIcon : collapseIcon" />
  </div>
</button>
<nav class="caep-side-menu__nav">
  @if (entries?.length && !collapsed) {
    <ul class="caep-side-menu__entries">
      @for (entry of entries; track entry.id) {
        <li class="caep-side-menu__list">
          <caep-side-menu-entry
            [model]="entry"
            [resource]="entry?.resource"
            [enable]="entry?.enable"
            [show]="entry?.show"
          ></caep-side-menu-entry>
        </li>
      }
    </ul>
  }
</nav>
