@if (show && formControl) {
  <div [class]="containerClass" class="caep-input-container">
    @if (label) {
      <label [attr.for]="id" class="caep-label">{{label | translateMstring | async}}</label>
    }
    <section class="caep-input-control-container" tabIndex="-1" (click)="onContainerClick($event)">
      <input #controlRef [attr.autofocus]="autofocus || null" [id]="id" [formControl]="formControl" autocomplete="off"
        [attr.tabindex]="tabindex" [style.maxWidth]="width" [style.height]="height"
        [attr.maxlength]="options.maxLength || null" [attr.readonly]="options.isReadonly ? true : null"
        [class]="options.inputClass" class="caep-input" [attr.type]="options.type"
        [placeholder]="options.placeholder | translateMstring | async">
      <i class="caep-input-icon icon-{{options.icon}}"></i>
    </section>
  </div>
}