<div #container class="topbar-container" role="banner" [attr.aria-label]="ariaLabel || null">
  <div class="topbar-items-container" [class.is-checking]="checkItemsFit">
    @if (items.length) {
      <div class="left">
        @if (items | topbarLeftItems; as leftItems) {
          <ng-container
            [ngTemplateOutlet]="itemsTemplate"
            [ngTemplateOutletContext]="{ $implicit: leftItems }"
            >
          </ng-container>
        }
      </div>
      <div class="center">
        @if (items | topbarCenterItems; as centerItems) {
          <ng-container
            [ngTemplateOutlet]="itemsTemplate"
            [ngTemplateOutletContext]="{ $implicit: centerItems }"
            >
          </ng-container>
        }
      </div>
      <div class="right">
        @if (items | topbarRightItems; as rightItems) {
          <ng-container
            [ngTemplateOutlet]="itemsTemplate"
            [ngTemplateOutletContext]="{ $implicit: rightItems }"
            >
          </ng-container>
        }
      </div>
    }
  </div>
</div>
<ng-template #itemsTemplate let-items>
  @for (item of items; track item.id) {
    <caep-topbar-item
      [model]="item"
      [resource]="item.resource"
      [show]="item.show"
      [enable]="item.enable"
    ></caep-topbar-item>
  }
</ng-template>
