<div *ngIf="show && formControl && format" relative shDropdownContainer [class]="containerClass">
  <div #input [id]="internalOptions.id" [class]="inputClass" [class.input]="true"
    [class.ng-invalid]="formControl.invalid" [class.ng-touched]="formControl.touched"
    [class.ng-dirty]="formControl.dirty" [class.sh-populated]="!!formControl.value"
    [attr.tabindex]="internalOptions.tabindex" [attr.autofocus]="internalOptions.autofocus || null"
    [class.disabled]="!enable" [class.readonly]="internalOptions.isReadonly" [style.minWidth]="width"
    [style.height]="height" [class.with-icon]="true" tabindex="0"
    (click)="$event.preventDefault(); touch(); hidePicker();" (keydown)="onDateKey($event)" (focusout)="reset()">
    <input type="date" ngx-mydatepicker [options]="pickerOptions" #dp="ngx-mydatepicker"
      (dateChanged)="dateChanged($event.jsdate)" hidden />
    <div *ngIf="isReady" class="text-input" translate>
      <ng-container *ngFor="let f of format; let i = index">
        <ng-container *ngIf="f === 'day'">
          <span #daySpan tabindex="{{ enable ? internalOptions.tabindex : -1}}" (keydown)="onDayKey($event)"
            (focusout)="canOverwrite = true">{{day | day}}</span>
        </ng-container>
        <ng-container *ngIf="f === 'month'">
          <span #monthSpan tabindex="{{ enable ? internalOptions.tabindex : -1}}" (keydown)="onMonthKey($event)"
            (focusout)="canOverwrite = true">{{month | month}}</span>
        </ng-container>
        <ng-container *ngIf="f === 'year'">
          <span #yearSpan tabindex="{{ enable ? internalOptions.tabindex : -1}}" (keydown)="onYearKey($event)"
            (focusout)="canOverwrite = true">{{year | year}}</span>
        </ng-container>
        <ng-container *ngIf="i < 2 && showDate">/</ng-container>
        <ng-container *ngIf="f === 'hh' || f === 'HH'">&nbsp;<span #hourSpan
            tabindex="{{ enable ? internalOptions.tabindex : -1}}" (keydown)="onHourKey($event)"
            (focusout)="canOverwrite = true">{{hour | hour :f}}</span>
        </ng-container>
        <ng-container *ngIf="f === 'minutes'">
          :<span #minutesSpan tabindex="{{ enable ? internalOptions.tabindex : -1}}" (keydown)="onMinutesKey($event)"
            (focusout)="canOverwrite = true">{{minutes | minutes}}</span>
        </ng-container>
        <ng-container *ngIf="f === 'seconds'">
          :<span #secondsSpan tabindex="{{ enable ? internalOptions.tabindex : -1}}" (keydown)="onSecondsKey($event)"
            (focusout)="canOverwrite = true">{{seconds | minutes}}</span>
        </ng-container>
      </ng-container>
      <a class="meridian" *ngIf="isTwelveHourNotation" (click)="changeMeridian($event)"
        (keydown)="changeMeridian($event)"
        tabindex="{{ enable ? internalOptions.tabindex : -1}}">{{ hour > 12 || hour === 0 ? 'PM' : 'AM'}}</a>
    </div>
  </div>
  <label *ngIf="placeholder"
    [attr.for]="internalOptions.id">{{placeholder?.key ? (placeholder | i18n) : (placeholder | translate)}}</label>
  <sh-icon *ngIf="!internalOptions.isReadonly && enable && showDate" pointer vertical-centered name="date-input"
    (click)="togglePicker()">
  </sh-icon>
</div>
