@import "../../styles/colors";
@import "../../styles/input";

$input-control-focus-background-color: $sh-azure;
$input-control-focus-color: $sh-white;
$input-controls-max-size: 80%;
$picker-cell-size: 36px;
$picker-header-size: 32px;
$picker-height: 285px;
$picker-width: 256px;
$picker-shadow: 0px 0px 10px 2px $sh-quick-silver;
$picker-borders: 2px solid $sh-white;
$picker-cell-font-size: 14px;
$picker-cell-font-family: RobotoLight;
$picker-cell-color: $sh-purple-grape;
$picker-selection-color: $sh-spring-sky;
$picker-cell-selected-background-color: $picker-selection-color;
$picker-cell-selected-color: $sh-white;
$picker-cell-selected-border-radius: 5px;
$picker-header-control-color: $picker-selection-color;
$picker-header-control-font-family: RobotoBold;
$picker-header-control-size: 72px;
$picker-header-today-button-size: 108px;
$picker-header-today-button-color: $sh-white;
$picker-header-today-button-recess: 0 5px;
$picker-header-today-button-font-family: RobotoLight;
$picker-weekday-background-color: $sh-clean-glass;
$picker-weekday-border-color: $sh-light-aluminium;
$picker-weekday-border-size: 1px;
$picker-cell-value-font-size: 18px;
$picker-cell-current-font-family: RobotoBold;
$picker-cell-day-current-month-background-color: $sh-white;
$picker-cell-day-sibling-month-background-color: $sh-ghost-white;
$picker-cell-sunday-background-color: $sh-mist;
$picker-cell-sunday-color: $sh-red-passion;
$picker-cell-focus-border-size: 2px;
$picker-cell-focus-border-radius: 5px;
$picker-month-year-background-color: $picker-weekday-background-color;
$picker-year-change-button-color: $sh-pale-blue;
$picker-cells-border-size: 0.5px;
$picker-cells-border-color: $picker-weekday-border-color;

:host {
  & > div {
    display: inline-block;

    * {
      user-select: none;
    }

    .input {
      @include input();

      .text-input {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: $input-controls-max-size;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        outline: none;

        span {
          &:focus {
            background: $input-control-focus-background-color;
            color: $input-control-focus-color;
            outline: none;
          }
        }
        .meridian {
          @extend span;
          padding-left: 0.46vh;
        }
      }

      &:focus {
        .text-input {
          background: $input-control-focus-background-color;
          color: $input-control-focus-color;
        }
      }
    }

    ::ng-deep {
      .ngxmdp {
        position: fixed;
        margin-top: 20px;
        margin-left: -9px;
        z-index: 9999;

        .ngxmdpicon {
          font-family: ngx-mydatepicker !important;
        }

        .icon-ngxmydptoday,
        .headerbtncell {
          display: none;
        }

        & > .selector {
          background: $sh-white;
          height: $picker-cell-size;
          border-radius: 0;
          width: $picker-width !important;
          height: $picker-height !important;
          border: none;
          box-shadow: $picker-shadow;

          & > table {
            border-left: $picker-borders;
            border-right: $picker-borders;

            &.header {
              border-top: $picker-borders;
            }

            &.caltable {
              border-bottom: $picker-borders;
            }
          }

          .header {
            height: $picker-header-size;

            .headerlabelbtn {
              font-family: $picker-header-control-font-family;
              color: $picker-header-control-color;
              font-size: $picker-cell-font-size;
              text-transform: uppercase;
            }

            .headertodaybtn {
              border: none;
              background: transparent;
              text-transform: uppercase;
              color: $picker-header-today-button-color;

              span {
                font-family: $picker-header-today-button-font-family;
                font-size: $picker-cell-font-size;

                &:after {
                  content: "<";
                  padding: $picker-header-today-button-recess;
                }

                &:before {
                  content: ">";
                  padding: $picker-header-today-button-recess;
                }
              }
            }

            &,
            .headerlabelbtn {
              background: transparent;
            }

            td {
              display: inline-block;
              height: 100%;
              padding: 0;
              position: relative;

              &:not(:nth-of-type(2)) {
                width: $picker-header-control-size !important;
              }

              &:nth-of-type(2) {
                width: $picker-header-today-button-size !important;
                background-color: $picker-header-control-color;
              }

              & > * {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }

          .caltable {
            .weekdaytitle {
              width: $picker-cell-size;
              height: $picker-cell-size;
              font-family: $picker-cell-font-family;
              text-transform: uppercase;
              background-color: $picker-weekday-background-color !important;
              border: $picker-weekday-border-size solid $picker-weekday-border-color;
            }
          }

          .daycell {
            padding: 0;
            outline: none !important;

            &.currmonth,
            .currmonth {
              background: $picker-cell-day-current-month-background-color;
            }

            &.nextmonth,
            .nextmonth,
            &.prevmonth,
            .prevmonth {
              background: $picker-cell-day-sibling-month-background-color;
            }

            &:last-of-type {
              &.currmonth,
              .currmonth {
                background: $picker-cell-sunday-background-color !important;
                color: $picker-cell-sunday-color !important;
              }
            }

            .datevalue {
              height: 100%;
              width: 100%;
              position: relative;
              outline: none !important;

              &:after {
                border: $picker-cells-border-size solid $picker-cells-border-color;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                content: "";
              }

              & > span {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: $picker-cell-value-font-size;
                font-family: $picker-cell-font-family;

                &.markcurrday {
                  font-family: $picker-cell-current-font-family;
                  text-decoration: none;
                }
              }
            }

            &:focus,
            &:hover {
              .datevalue:after {
                border-width: $picker-cell-focus-border-size;
                border-color: $picker-selection-color;
                border-radius: $picker-cell-focus-border-size !important;
              }
            }
          }

          .selectedday,
          .selectedmonth,
          .selectedyear {
            background-color: $picker-cell-selected-background-color !important;
            color: $picker-cell-selected-color !important;
            border-radius: $picker-cell-selected-border-radius !important;
            outline: none;

            & > .datevalue,
            & > .monthvalue,
            & > .yearvalue {
              background-color: transparent;
            }
          }

          .monthtable,
          .monthcell,
          .yeartable,
          .yearcell,
          .yearchangebtncell {
            background-color: $picker-month-year-background-color;
          }

          .yearchangebtn {
            background-color: $picker-month-year-background-color !important;
            color: $picker-year-change-button-color;

            &:hover,
            &:focus {
              opacity: 0.5;
            }
          }

          .monthcell,
          .yearcell {
            color: $picker-cell-color;
            font-size: $picker-cell-font-size;
            text-transform: uppercase;
            position: relative;

            & > .monthvalue,
            & > .yearvalue {
              font-family: $picker-cell-font-family;

              &.markcurrmonth,
              &.markcurryear {
                font-family: $picker-cell-current-font-family;
                text-decoration: none;
              }
            }

            &:after {
              border: $picker-cells-border-size solid $picker-cells-border-color;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              content: "";
            }

            &:focus,
            &:hover {
              &:after {
                border-width: $picker-cell-focus-border-size;
                border-color: $picker-selection-color;
                border-radius: $picker-cell-focus-border-size !important;
              }
            }
          }

          &:after,
          &:before {
            display: none;
          }
        }
      }
    }
  }
}
