.grid-container {
  background: rgb(116, 199, 174, 0.4);
  margin-bottom: var(--gutter);
}
.row {
  background: rgba(230, 0, 127, 0.4);
}

[class^="col"] {
  background: rgba(255, 255, 255, 0.4);
  position: relative;
  min-height: var(--matrix);
  &::after {
    content: "";
    position: absolute;
    top: calc(var(--gutter) * 0.5);
    left: calc(var(--gutter) * 0.5);
    display: block;
    height: calc(100% - var(--gutter));
    width: calc(100% - var(--gutter));
    z-index: -1;
    background: rgb(0, 208, 255);
  }
}
