@import '../../styles/colors';
@import '../../styles/common';

$header-logo-height: 30px;

@media (max-width: $bars-width-breakpoint) {
  sh-sidebar-search {
    display: none;
  }
}

:host {
  position: fixed;
  top: 0;
  left: $sidebar-collapsed-width;
  right: 0;
  height: $header-height;
  background: $sh-lush-black;
  transition: $bars-transition-speed left;
  z-index: 999;

  .leeway {
    float: left;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: $bar-recess;

    .logo {
      height: $header-logo-height;

      img {
        height: 100%;
      }
    }
  }

  .content {
    float: right;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: $bar-recess;
  }
}
