@import '../../styles/colors';

$radio-size: 19px;
$radio-label-font-size: 18px;
$radio-label-distance: 10px;
$ball-recess: 7px;
$ball-size: 9px;
$radio-border-size: 2px;
$radio-text-distance: 6px;
$radio-distance: 15px;
$radio-group-distance: 5px 0;
$radio-recess: 5px;
$radio-focus-border-size: 1px;

:host {
  margin: $radio-group-distance;
  display: inline-block;

  .radio-group {
    padding: $radio-recess $radio-recess $radio-recess 0px;
    display: inline-block;
    border-width: $radio-focus-border-size;
    border-style: solid;
    border-color: transparent;

    &:focus {
      outline: none;
      border-image: linear-gradient(to left, $sh-sky, transparent) 50 1%;
    }
  }

  .radio-group-item {
    &:not(:last-of-type) {
      margin-bottom: $radio-distance;

      &[inline] {
        margin-right: $radio-distance;
      }
    }
  }

  .radio {
    position: relative;
    width: $radio-size;
    height: $radio-size;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: $radio-text-distance;
    display: inline-block;

    label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      width: $radio-size;
      height: $radio-size;
      padding: 0;
      border-width: $radio-border-size;
      border-style: solid;
      border-color: $sh-light-gray;
      background-color: transparent;
      transition: .3s background-color, .3s border-color;
      border-radius: 50%;
    }

    &+span {
      color: $sh-light-gray;
      cursor: pointer;
      font-size: $radio-label-font-size;
      margin-left: $radio-label-distance;
      user-select: none;
    }

    &,
    &+span {
      vertical-align: top;
    }

    input {
      display: none;
      pointer-events: none;

      &:checked+label {
        margin-left: 0;
        border-color: $sh-azure;

        &:before {
          content: "";
          display: block;
          width: $ball-size;
          height: $ball-size;
          position: absolute;
          border: none;
          background: $sh-azure;
          border-radius: 50%;
          top: $ball-recess;
          left: $ball-recess;
        }
      }
    }

    &.disabled {
      opacity: .4;
      pointer-events: none;
      cursor: not-allowed;

      input {
        &+label {
          background-color: $sh-sea-black;
          border-color: $sh-sea-black;

          &:before {
            background-color: $sh-white;
          }
        }
      }

      &+span {
        color: $sh-light-gray;
        pointer-events: none;
        cursor: not-allowed;
      }
    }


    &:hover,
    &:focus,
    &:active {
      input:checked+label {
        background-color: $sh-gray;
      }

      input:not(:checked)+label {
        background-color: $sh-gray;
        border-color: $sh-sea-black;
      }
    }

    &.current:not(.disabled)+span {
      color: $sh-sea-black;
    }
  }
}
