@font-face {
  font-family: 'Roboto';
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-Regular.ttf');
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoItalic';
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-RegularItalic.ttf');
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBlack';
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-Black.ttf');
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBlackItalic';
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-BlackItalic.ttf');
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBold';
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-Bold.ttf');
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBoldItalic';
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-BoldItalic.ttf');
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-Light.ttf');
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLightItalic';
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-LightItalic.ttf');
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-Medium.ttf');
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMediumItalic';
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-MediumItalic.ttf');
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoThin';
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-Thin.ttf');
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoThinItalic';
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-ThinItalic.ttf');
  src: url('~@ca-webstack/ng-components/styles/fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto';
}
