@import 'attributes';
@import 'toast';
@import 'fonts';
@import 'icons';
@import 'mixins';
@import 'colors';
@import 'common';

@include scrollbar($scrollbar-size, color-opacity($sh-azure, .5), color-opacity($sh-azure, .7), $sh-azure, $sh-midnight-white);

$flag-icon-css-path: '~flag-icon-css/flags/4x3' !default;
$flag-icon-rect-path: '' !default;
$flag-icon-square-path: '' !default;
@import '~flag-icon-css/sass/flag-icon';
