@import "../../styles/colors";
@import "../../styles/input";
@import "../../styles/functions";

$validation-message-font-size: v(validation-message-font-size, 12px);

p {
  font-family: RobotoBold;
  font-size: $validation-message-font-size;
  margin: calc(#{$input-recess}/ 2) $input-recess;
  color: $sh-red;

  &.warning {
    color: $sh-mandarin;
  }
}
