<div class="modal-overlay">
  <div class="modal" tabindex="0" #controlRef
    (keyup.esc)="onCancel(); $event.preventDefault(); $event.stopPropagation()" [style.minWidth]="width"
    [style.maxWidth]="width" (clickOutside)="onClickOutside()">
    <div class="modal-header">
      <sh-icon class="modal-header-icon" *ngIf="icon" [name]="icon"></sh-icon>
      {{title | translate}}
      <ng-content select="[header]"></ng-content>
    </div>
    <div class="modal-body">
      {{body | translate}}
      <ng-content select="[body]"></ng-content>
    </div>
    <div class="modal-footer">
      <div #footer>
        <ng-content select="[footer]"></ng-content>
      </div>
      <ng-container *ngIf="footer?.children?.length === 0">
        <sh-button *ngIf="hasCancelButton" (clicked)="onCancel()">{{cancelText}}</sh-button>
        <sh-button *ngIf="hasConfirmButton" [primary]="true" [enable]="!formGroup?.invalid" (clicked)="onConfirm()">
          {{confirmText}}</sh-button>
      </ng-container>
    </div>
  </div>
</div>
